/* About.css */

.about-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 20px;
    background-color: #f4f4f4;
  }
  
  .about-content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin-right: 20px; /* Add spacing between text and image */
  }
  
  .about-content h1,
  .about-content p {
    color: #333;
    margin-bottom: 15px;
  }
  
  .about-content p {
    margin-bottom: 20px;
    color: #555;
    line-height: 1.6;
  }
  
  .about-content h1 {
    border-bottom: 2px solid #f9ca16; /* Yellow color */
    padding-bottom: 10px;
  }
  
  .read_bt {
    width: 170px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
  }
  
  .read_bt a {
    font-size: 18px;
    color: #ffffff;
    background-color: #13110f;
    text-align: center;
    padding: 8px 0;
    width: 100%;
    text-decoration: none;
  }
  
  .read_bt a:hover {
    color: #070402;
    background-color: #74d1ed;
  }
  
  .about-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-image img {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 8px; /* Optional: to match the box's border radius */
  }
  